.header {
  background-color: Purple;
  padding: 1px;
  text-align: center;
}

.button {
  background-color: Purple;
}

.container {
  position: relative;
}

#module-info {
  background-color: #DDA0DD;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  width:auto;
  height:auto;
  position: absolute;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}
